body {  
  font-family : 'Consolas';
}

.tabuada {  
  margin : 10px;
  float  : left;
}

table {  
  border-collapse : collapse;
  border          : 1px solid black;
}

th {
  color            : #000000;  
  background-color : #fffc00;  
  width            : 70px;  
}

td {    
  text-indent : 2px;
}

tr:nth-of-type(odd) {
  background-color : #1B94EB;
}

caption{
background-color : #fffc00;
font-weight: bold;
}